html {
  background-color: white;
  color: black;
}

a {
  @apply text-blue-500 hover:text-blue-900;
}

.back-button {
  @apply mr-4;
}

.console-content {
  @apply p-4 sm:ml-64 h-screen;

  h1 {
    @apply text-2xl text-center font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }
}

.loader {
  @apply flex items-center justify-center h-screen w-full text-4xl text-indigo-600;
}

.icon-spin {
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
